@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --blue: #009687;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.replay{
    cursor: pointer;
    font-size: 2rem;
    width: fit-content;
}
.replay span{
    margin-left: 10px;
}
.replay, .gameSection{
    flex: 1;
}
.compDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    max-width: 250px;
    text-align: center;
    font-size:clamp(10vw, 80px, 80px);
    font-weight: bold;
}
.compDisplay img{
    max-width: 200px;
    aspect-ratio: 1;
}
.gameSection{
    display: flex;
    align-items: center;
}
p{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.gameSection, .messages, .compDisplay{
    align-self: center;
    margin: 20px;
}
.messages{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 20px;
}
input{
    width: 40vw;
    height: 42px;
    border: none;
    border-radius: 0.5rem;
    padding-inline: 20px;
    font-size: clamp(15px, 1.3em, 1.5em) ;
    font-weight: 600;
}

input:focus, input:hover{
    outline: 2px solid green;
}
button{
    width: 20vw;
    height: 42px;
    border: none;
    border-radius: 0.5rem;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: clamp(15px, 1.3em, 1.5em);
}

button:focus, button:hover{
    /* outline: 2px solid black; */
    outline: none;
    background-color: #009687;
    color: white;
    border: 2px solid white;
}

.trials{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 600;
}


@media screen and (max-width: 400px) {
    body{
        gap: 30px;
    }

    .gameSection{
        display: flex;
        flex-direction: column;
    }

    button, input{
        margin-left: 0;
        margin-bottom: 20px;
        width: 70%;
    }

}